body {
    font-family: "Blinker", sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;

}

.header {
    text-align: center;
    background-color:darkred;
    color: whitesmoke;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reason {
    margin-bottom: 20px;
}

.reason h2 {
    color: darkslategray;
    margin-bottom: 10px;
}