.contact-section {
    padding: 40px 20px;
    text-align: center;
    font-family: "Blinker" , sans-serif;
}

.contact-section h2 {
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: whitesmoke;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: red;
    box-shadow: 0 0 5px darkred;
}

button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

.contact-info {
    margin-top: 30px;
    font-size: 16px;
    color: #333;
}

.contact-info p {
    margin: 5px 0;
}